// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// -------------------------------------------------------------

// ::Imports pre-render
	//:: Reset
	//:: Settings
	//:: Mixins
// ::Clearfix extends
// ::Base styles

// ::Layout styles 
// ::Media queries 
// ::State styles
// ::Debugs  



// ::Imports pre-render. Must be after reset 
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";

@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";



/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */

// CHOOSE YOUR CLEARFIX, OR YOU KNOW USE BOTH. WHATEVER, I'M NOT YOUR MOTHER

// Use clearfix if you need general clearfixing
.clearfix 			{ @include clearfix; }


// Use pie-clearfix if you need clearfixing that doesn't use overflow: hidden
.pie-clearfix 		{ @include pie-clearfix; }



// OTHER EXTENDS

// Max width, for images etc... in RWD
.max-width 			{ max-width: 100%; height: auto; }



/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */


.paraimg {
  position: absolute;
}

#seattle {
	width: 110% !important;
	min-width: 112% !important;
	margin-left: -2%;
	top: -10% !important;
}

#parallax-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  z-index: 1;
  img {
    height: auto;
    min-width: auto;
  }
  #greeting {
  	position: absolute;
  	margin: 0 0 0 46%;
  	width: 350px;
  	//top: 20%;
  	color: $white;
  	@include box-shadow(0px 5px 2px -5px rgba(0,0,0,0.22));
  	background-color: transparentize($black, .9);
  	p {
  		display: none;
  	}
  	@include breakpoint(tablet) {
  		display: block;
  		p {
  			display: block;
  		}
  	}
  	h1 {
  		padding: 10% 10px 18px;
  		font-size: 25px;
  		span {
  			display: block;
			clear: left;
  			font-size: 30px;
  		}
  		@include breakpoint(desktop) {
  			padding-top: 30%;
  			font-size: 33px;
  			span {
  				font-size: 45px;
  			}
  		}
  		@include css-gradient(darken($secondary, 10%),$secondary);
  		color: $white;
  		margin-bottom: 11px;
  		border-bottom: solid 1px transparentize(#000, .8);
  	}
  	p {
  		padding: 0 10px;
  	}
  }
}

#landing {
	height: 150px;
	@include breakpoint(tablet) {
		height: 350px;
	}
	@include breakpoint(desktop) {
		height: 550px;
	}
	@include breakpoint(large-desktop) {
		height: 800px;
	}

	overflow: hidden;
	position: relative;
}

.full-header {
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	padding: 20px;
	margin: 0 auto 15px;
	width: 100%;
	@include breakpoint(desktop) {
		font-size: 50px;
		padding: 50px;
	}
	border-bottom: solid 1px transparentize(#000, .8);
	@include css-gradient(darken($secondary, 10%),$secondary);
}

h3.full-header {
	font-size: 35px;
	padding: 20px;
	@include css-gradient(lighten($tertiary, 30%), lighten($tertiary, 50%));
}

#social {
	width: 100%;
	position: relative;
	//max-height: 1200px;
	overflow: hidden;
	z-index: 0;
	background-color: #a5a5a5;
	@include transition(all 1s ease-in-out);
	//background-image: url(../../assets/img/chicago-predark.jpg);
	&:hover {
		//background-image: url(../../assets/img/chicago-dark3.jpg);
		.bg-hover {
			opacity: 1;
		}
		background-color: #585858;
	}
	//background-color: rgba(0,0,0,.5);
	//@include css-gradient(lighten($tertiary, 20%), lighten($tertiary, 30%));
	.wrap {
		margin: 0 auto;
	}
	.bg-img {
		z-index: -2;
		width: 1600px;
		height: 1200px;
		max-width: none;
		position: absolute;
	}
	.bg-hover {
		@include transition(all 1s ease-in-out);
		z-index: -1;
		opacity: 0;
	}
	li {
		list-style-type: none;
	}
}

iframe.btn {
	padding: 0;
}

cite, time {
	display: none;
}

.jquery-ui-tumblr-rss-entry {
	margin: 25px;
}

.group {
	border-bottom-width: 0;
}

.lastplay {
	float: left;
	margin: 6px;
	max-width: 145px;
	@include breakpoint(desktop) {
		max-width: 166px;
	}
	.lfm_art {
		border: 5px white solid;
		border-bottom-width: 25px;
		margin-bottom: 10px;
		width: 145px;
		height: 160px;

		@include breakpoint(desktop) {
			width: 165px;
			height: 180px;
		}
		float: left;
		background-image: url(../img/noartwork.jpg);
		background-size: 100%;
		img {
			height: 100%;
			width: 100%;
		}
	}
	&:nth-of-type(even) {
		display: none;
	}
	&:last-of-type {
		display: none;
	}
}

// #lastfm {
// 	max-height: auto;
// 	@include breakpoint(desktop) {
// 		max-height: 400px;
// 		overflow: hidden;
// 	}
// }

.lfm_song {
	font-size: 14px;
}

.lfm_artist {
	margin-top: 10px;
}

.lfm_artist, .lfm_album {
	font-size: 11px;
	color: $offwhite;
}

.lastplay:nth-of-type(even) {
	@include breakpoint(tablet) {
		display: block;
	}
}

.row-fluid {
	margin-bottom: 35px;
	p {

	}
}

.group img {
	width: 137px;
}

.media > .media-body {
	overflow: visible;
}
.media > .pull-right {
	margin-top: -18px;
	margin-left: 30px;
}

.img-polaroid {
	padding-bottom: 30px;
}

.pull-right {
	width: 100%;
	clear: left;
	@include breakpoint(tablet) {
		clear: left;
		max-width: 40%;
	}
	@include breakpoint(desktop) {

	}
}

#twitterfeed {
	clear: left;
	small {
		display: block;
		font-size: 10px;
		color: $offwhite;
	}
	li {
		border-left: 2px solid transparentize($black, .8);
		padding: 13px 0 13px 13px;
		margin: 20px 0;
		@include box-shadow(inset 44px 0 55px -60px transparentize($black, .4));
	}
}

.avatar {
	width: 135px;
	padding-bottom: 18px;
	margin-right: 20px;
	margin-bottom: 20px;
	@include breakpoint(tablet) {
		float: left;
	}
}

.thumbsup {
	width: 270px;
	margin: 0 auto 43px;
	-moz-transform: scale(1) rotate(4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
		-webkit-transform: scale(1) rotate(4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	img {
		width: 100%;
	}
}
.wrap {
	//background-color: $black;
	//top: 750px;
	//position: relative;
	width: 75%;
	margin: 50px auto;
}

footer {
	min-height: 700px;
}

html {
	font-size: 100%;
}

body { 
	background-color: $black;
	background-image: url(../../assets/img/darkvert@2x.png);
	color: $base-color;
	font-family: $sans;
}

a {
	color: $action;
	padding-bottom: 1px;
	border-bottom: 2px dotted transparentize($action, .8);
	@include force-wrap;					// force text links to wrap
	&:hover, &:focus, &:active {
		color: $action-respond;
		text-decoration: none;
		
	}
}

// Import base typography into the cascade (if required)
@import "libs/typography"; 		


// Import form styles into the cascade (if required)
@import "libs/forms";			



// -------------------------------------------------------------------------------------------------------

// All the below can be removed if need be

// -------------------------------------------------------------------------------------------------------




/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */

.container {
	@extend .clearfix;
	margin: 0 auto;
	width: 95%;
}

/* Example styles - you'll most likey want to remove*/
header {
	@include padding-leader(4);
	@include padding-trailer(2);
	@include trailer(6);
	background: #333;
	h1 { color: #fff; }
}

section 				{ @extend .clearfix; }
h1 						{ font-weight: 600; }
ol 						{ @include ordered-inside }
ul 						{ @include unordered-inside }



/* ::Media queries */
/* ------------------------------------------------------------ */

// If using gridset or another pre-defined grid, these should match up to the same breakpoints

// Below examples use a mobile-first approach


// Eg for 480px
@media screen and (min-width: em-font(480px)) {
	.container {
		width: 95%;
	}
}


// Eg for 800px
@media screen and (min-width: em-font(800px)) {
	.container {
		min-width: em-font(780px);
	}
}

// Eg for 1240px
@media screen and (min-width: em-font(1240px)) {
	.container {
		max-width: em-font(1080px);
	}
}

// Print styles
@media print {
	body {
		// Smaller type for printing. Save a tree
		font-size: percentage(10 / 16);
		@include adjust-leading-to(2);
	}
}


// IOS specifics 
@media screen and (max-width: 769px) {  // Absolute measure here, as we're talking about devices, not screen size
	-webkit-text-size-adjust:none; 		// Stop iPhone/iPad from scaling text
}


/* ::State styles */
/* ------------------------------------------------------------ */

.is-hidden {
	display: none;
}

.is-shown, .is-block {
	display: block;
}

.is-uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.is-lowercase {
	text-transform: lowercase;
}



/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */

#grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#grid div.horiz{
	// Use this one NOT using a global border-box setting
	// height: $base-line-height - 1px;
	
	// Use this one if you ARE using a global border-box setting
    height: $base-line-height;
    
    // Carry on...
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
}

.formblock {
  margin: 20px 0;
}

.formblock label {
  display: none;
  text-align: left;
}

.center {
	text-align: center;
}

#contact {
	margin-top: 45px;
}

#contact-form {
  @include breakpoint(desktop) {
  padding: 0 90px;

  }
  .span5 {
    margin-right: 30px;
  }
  .span10 {
    margin-left: 0;
    @include breakpoint(tablet) {
      width: 100%;
    }
  }
  @include breakpoint(tablet) {
    .span5, .span6 {
      width: 100%;
    }
  }
}
#contact-form label span {
  cursor:pointer;
  display:block;
  margin:5px 0;
  text-align: left;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width:100%;
  box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  border:1px solid #CCC;
   height: 45px;
  margin:0 0 5px;
  padding:10px;

}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid $secondary;
}
#contact-form textarea {
  height:100px;
  max-width:100%;
}
#contact-form button[type="submit"] {
  cursor:pointer;
  width:30%;
  border:none;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  border-radius:5px;
  background-color: $secondary;
  width: 100%;
}
#contact-form button[type="submit"]:hover {

}
#contact-form button[type="submit"]:active {
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
    color:$secondary;
}
:-moz-placeholder {
    color:$secondary;
}
::-moz-placeholder {
    color:$secondary;
}
:-ms-input-placeholder {
    color:$secondary;
}