* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/*********************
BORDER RADIUS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include border-radius(4px 4px 0 0);
*/
/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
BOX SHADOWS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22));
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(3deg);
  }

  25% {
    -moz-transform: rotate(-3deg);
  }

  50% {
    -moz-transform: rotate(3deg);
  }

  75% {
    -moz-transform: rotate(-3deg);
  }

  100% {
    -moz-transform: rotate(3deg);
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-3deg);
  }

  25% {
    -webkit-transform: rotate(-3deg);
  }

  50% {
    -webkit-transform: rotate(3deg);
  }

  75% {
    -webkit-transform: rotate(-3deg);
  }

  100% {
    -webkit-transform: rotate(-3deg);
  }
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
.clearfix, .container, section {
  overflow: hidden;
  *zoom: 1;
}

.pie-clearfix {
  *zoom: 1;
}
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.max-width {
  max-width: 100%;
  height: auto;
}

/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */
.paraimg {
  position: absolute;
}

#seattle {
  width: 110% !important;
  min-width: 112% !important;
  margin-left: -2%;
  top: -10% !important;
}

#clouds {
  width: 1200px;
}
@media (min-width: 40.625em) {
  #clouds {
    width: 100%;
  }
}

#parallax-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  z-index: 1;
}
#parallax-frame img {
  height: auto;
  min-width: auto;
}
#parallax-frame .greeting, #parallax-frame .email {
  position: relative;
  margin: 0 0 0 46%;
  width: 350px;
  color: white;
  -webkit-box-shadow: 0px 5px 2px -5px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 5px 2px -5px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0px 5px 2px -5px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0px 5px 2px -5px rgba(0, 0, 0, 0.22);
  -box-shadow: 0px 5px 2px -5px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 5px 2px -5px rgba(0, 0, 0, 0.22);
  background-color: rgba(0, 0, 0, 0.1);
}
#parallax-frame .greeting p, #parallax-frame .email p {
  display: none;
}
@media (min-width: 40.625em) {
  #parallax-frame .greeting, #parallax-frame .email {
    display: block;
  }
  #parallax-frame .greeting p, #parallax-frame .email p {
    display: block;
  }
}
#parallax-frame .greeting h1, #parallax-frame .email h1 {
  padding: 10% 10px 18px;
  font-size: 25px;
  background-color: #cc2500;
  background-image: -webkit-gradient(linear, top, bottom, from(#991c00), to(#cc2500));
  background-image: -webkit-linear-gradient(top, #991c00, #cc2500);
  background-image: -moz-linear-gradient(top, #991c00, #cc2500);
  background-image: -o-linear-gradient(top, #991c00, #cc2500);
  background-image: linear-gradient(to bottom, #991c00, #cc2500);
  color: white;
  margin-bottom: 11px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
#parallax-frame .greeting h1 span, #parallax-frame .email h1 span {
  display: block;
  clear: left;
  font-size: 30px;
}
@media (min-width: 60em) {
  #parallax-frame .greeting h1, #parallax-frame .email h1 {
    padding-top: 30%;
    font-size: 33px;
  }
  #parallax-frame .greeting h1 span, #parallax-frame .email h1 span {
    font-size: 45px;
  }
}
#parallax-frame .greeting p, #parallax-frame .email p {
  padding: 0 10px;
}
#parallax-frame .email {
  clear: left;
  display: block;
}

#landing {
  height: 150px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 40.625em) {
  #landing {
    height: 350px;
  }
}
@media (min-width: 60em) {
  #landing {
    height: 550px;
  }
}
@media (min-width: 75em) {
  #landing {
    height: 800px;
  }
}

.full-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  padding: 20px;
  margin: 0 auto 15px;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #cc2500;
  background-image: -webkit-gradient(linear, top, bottom, from(#991c00), to(#cc2500));
  background-image: -webkit-linear-gradient(top, #991c00, #cc2500);
  background-image: -moz-linear-gradient(top, #991c00, #cc2500);
  background-image: -o-linear-gradient(top, #991c00, #cc2500);
  background-image: linear-gradient(to bottom, #991c00, #cc2500);
}
@media (min-width: 60em) {
  .full-header {
    font-size: 50px;
    padding: 50px;
  }
}

h3.full-header {
  font-size: 25px;
  padding: 20px;
  background-color: gray;
  background-image: -webkit-gradient(linear, top, bottom, from(#4d4d4d), to(gray));
  background-image: -webkit-linear-gradient(top, #4d4d4d, gray);
  background-image: -moz-linear-gradient(top, #4d4d4d, gray);
  background-image: -o-linear-gradient(top, #4d4d4d, gray);
  background-image: linear-gradient(to bottom, #4d4d4d, #808080);
}
@media (min-width: 60em) {
  h3.full-header {
    font-size: 35px;
    padding: 20px;
  }
}

#social {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-color: #a5a5a5;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#social:hover {
  background-color: #585858;
}
#social:hover .bg-hover {
  opacity: 1;
}
#social .wrap {
  margin: 0 auto;
}
#social .bg-img {
  z-index: -2;
  max-width: none;
  position: absolute;
}
@media (min-width: 40.625em) {
  #social .bg-img {
    width: 1600px;
    height: 1200px;
  }
}
@media (min-width: 60em) {
  #social .bg-img {
    width: 100%;
    height: auto;
  }
}
#social .bg-hover {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: -1;
  opacity: 0;
}
#social li {
  list-style-type: none;
}

iframe.btn {
  padding: 0;
}

cite, time {
  display: none;
}

.jquery-ui-tumblr-rss-entry {
  margin: 25px;
}

.group {
  border-bottom-width: 0;
  width: 22.5%;
  min-width: 100px;
  float: left;
  display: block;
  margin: 1%;
  border: 3px solid rgba(222, 222, 222, 0.2);
}
.group:hover {
  border-color: white;
}
.group img {
  width: 100%;
  margin-bottom: -4px;
}

.lastplay {
  float: left;
  margin: 1%;
}
@media (min-width: 60em) {
  .lastplay {
    width: 15%;
  }
}
.lastplay .lfm_art {
  border: 5px white solid;
  border-bottom-width: 25px;
  margin-bottom: 10px;
  width: 100%;
  float: left;
}
.lastplay .lfm_art img {
  height: 100%;
  width: 100%;
  margin-bottom: -3px;
}
.lastplay:nth-of-type(even) {
  display: none;
}
.lastplay:last-of-type {
  margin-right: 0;
}
.lastplay:first-of-type {
  margin-left: 0;
}

.lfm_song {
  font-size: 14px;
}

.lfm_artist {
  margin-top: 10px;
}

.lfm_artist, .lfm_album {
  font-size: 11px;
  color: #dedede;
}

@media (min-width: 40.625em) {
  .lastplay:nth-of-type(even) {
    display: block;
  }
}

.row-fluid {
  margin-bottom: 35px;
}

.about .swing {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.about:hover .swing {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -moz-animation: 3s ease-in-out 0s normal none swing;
  -moz-transform-origin: center top;
  -moz-animation-duration: 6s;
  -webkit-animation: swing 3s ease-in-out;
  -webkit-transform-origin: top;
  -webkit-animation-duration: 6s;
}

.media {
  overflow: visible;
}

.media > .media-body {
  overflow: visible;
}

.media > .pull-right {
  margin-top: -18px;
  margin-left: 0;
  display: block;
  position: relative;
}
@media (min-width: 40.625em) {
  .media > .pull-right {
    margin-left: 15px;
  }
}
@media (min-width: 60em) {
  .media > .pull-right {
    margin-left: 30px;
  }
}

.img-polaroid {
  padding-bottom: 10%;
}

.pull-right {
  width: 100%;
  clear: left;
}
@media (min-width: 40.625em) {
  .pull-right {
    clear: left;
    max-width: 40%;
  }
}

#twitterfeed {
  clear: left;
}
#twitterfeed small {
  display: block;
  font-size: 10px;
  color: #dedede;
}
#twitterfeed li {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  padding: 13px 0 13px 13px;
  margin: 20px 0;
  -webkit-box-shadow: inset 44px 0 55px -60px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 44px 0 55px -60px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: inset 44px 0 55px -60px rgba(0, 0, 0, 0.6);
  -o-box-shadow: inset 44px 0 55px -60px rgba(0, 0, 0, 0.6);
  -box-shadow: inset 44px 0 55px -60px rgba(0, 0, 0, 0.6);
  box-shadow: inset 44px 0 55px -60px rgba(0, 0, 0, 0.6);
}

.avatar {
  width: 135px;
  padding-bottom: 18px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (min-width: 40.625em) {
  .avatar {
    float: left;
  }
}

.thumbsup {
  width: 270px;
  margin: 0 auto 43px;
}
.thumbsup img {
  width: 100%;
}

.wrap {
  width: 75%;
  margin: 50px auto;
  max-width: 1100px;
}

#shotsByPlayerId li {
  list-style-type: none;
  float: left;
  width: 18.4%;
  margin: 1%;
  position: relative;
}
#shotsByPlayerId li a {
  border-bottom-width: 0;
}
#shotsByPlayerId li a:hover {
  text-shadow: none;
}
#shotsByPlayerId li a:hover .popup {
  opacity: 1;
}
#shotsByPlayerId li:first-of-type {
  margin-left: 0;
}
#shotsByPlayerId li:last-of-type {
  margin-right: 0;
}
#shotsByPlayerId p {
  font-size: 11px;
  color: #dedede;
  display: none;
}
@media (min-width: 40.625em) {
  #shotsByPlayerId p {
    display: block;
  }
}
#shotsByPlayerId .dribbble {
  margin-bottom: 10px;
  display: block;
  height: 100%;
  border: 3px solid rgba(222, 222, 222, 0.2);
}
#shotsByPlayerId .dribbble img {
  margin-bottom: -7px;
}
#shotsByPlayerId .dribbble:hover {
  border: 3px solid white;
}

.popup {
  opacity: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
}

hr {
  color: #dedede;
  opacity: .5;
}

footer {
  min-height: 700px;
}

html {
  font-size: 100%;
}

body {
  background-color: black;
  background-image: url(../../assets/img/darkvert@2x.png);
  color: white;
  font-family: "ubunturegular", sans-serif;
}

a {
  color: #cccccc;
  padding-bottom: 1px;
  border-bottom: 2px dotted rgba(204, 204, 204, 0.2);
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
a:hover, a:focus, a:active {
  color: #ff2e00;
  text-decoration: none;
  text-shadow: 0 1px 0 black;
}

.btn-primary {
  background-color: #801700;
  background-image: -webkit-gradient(linear, top, bottom, from(#cc2500), to(#801700));
  background-image: -webkit-linear-gradient(top, #cc2500, #801700);
  background-image: -moz-linear-gradient(top, #cc2500, #801700);
  background-image: -o-linear-gradient(top, #cc2500, #801700);
  background-image: linear-gradient(to bottom, #cc2500, #801700);
  background-color: #801700;
}
.btn-primary:hover {
  background-color: #801700;
}

.btn:hover {
  text-shadow: none;
}

/*********************
BORDER RADIUS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include border-radius(4px 4px 0 0);
*/
/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
BOX SHADOWS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22));
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(3deg);
  }

  25% {
    -moz-transform: rotate(-3deg);
  }

  50% {
    -moz-transform: rotate(3deg);
  }

  75% {
    -moz-transform: rotate(-3deg);
  }

  100% {
    -moz-transform: rotate(3deg);
  }
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-3deg);
  }

  25% {
    -webkit-transform: rotate(-3deg);
  }

  50% {
    -webkit-transform: rotate(3deg);
  }

  75% {
    -webkit-transform: rotate(-3deg);
  }

  100% {
    -webkit-transform: rotate(-3deg);
  }
}

h1 {
  font-size: 2.25em;
  line-height: 1.1111111em;
  margin: 0 0 0.6666667em 0;
  font-family: "romance_fatal_serif_stdRg", serif;
  letter-spacing: 2px;
  font-weight: normal !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 1.875em;
  line-height: 1.3333333em;
  margin: 1.0666667em 0 0.5333333em 0;
  font-family: "romance_fatal_serif_stdRg", serif;
  color: #cc2500;
  letter-spacing: 2px;
  font-weight: normal !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 2px 0 rgba(255, 255, 255, 0.1);
}

h3 {
  font-size: 1.5625em;
  line-height: 1.28em;
  margin: 1.4545455em 0 0.7272727em 0;
  font-family: "romance_fatal_serif_stdRg", serif;
  font-weight: normal !important;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 0.4em 0;
  text-align: center;
}

h5 {
  font-size: 1.125em;
  line-height: 1.3333333em;
  margin: 0 0 0.4444444em 0;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

p, pre, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
}

li {
  line-height: auto;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}

strong, b {
  font-weight: 600;
}

em, i, q {
  font-style: italic;
}

blockquote {
  padding-left: 1em;
  border-left: 0.3125em solid grey;
  line-height: normal;
  margin: 0;
}
blockquote p {
  font-style: italic;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}

label, select {
  display: block;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */
.container {
  margin: 0 auto;
  width: 95%;
}

/* Example styles - you'll most likey want to remove*/
header {
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  background: #333;
}
header h1 {
  color: #fff;
}

h1 {
  font-weight: 600;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

/* ::Media queries */
/* ------------------------------------------------------------ */
@media screen and (min-width: 30em) {
  .container {
    width: 95%;
  }
}
@media screen and (min-width: 50em) {
  .container {
    min-width: 48.75em;
  }
}
@media screen and (min-width: 77.5em) {
  .container {
    max-width: 67.5em;
  }
}
@media print {
  body {
    font-size: 62.5%;
    line-height: 1em;
  }
}
@media screen and (max-width: 769px) {
  -webkit-text-size-adjust: none;
}
/* ::State styles */
/* ------------------------------------------------------------ */
.is-hidden {
  display: none;
}

.is-shown, .is-block {
  display: block;
}

.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.is-lowercase {
  text-transform: lowercase;
}

/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */
#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#grid div.horiz {
  height: 8px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

.formblock {
  margin: 20px 0;
}

.formblock label {
  display: none;
  text-align: left;
}

.center {
  text-align: center;
}

#contact {
  margin-top: 45px;
}

.span4 img {
  margin-bottom: -15px;
}

@media (min-width: 60em) {
  #contact-form {
    padding: 0 90px;
  }
}
#contact-form .span5 {
  margin-right: 30px;
}
#contact-form .span10 {
  margin-left: 0;
}
@media (min-width: 40.625em) {
  #contact-form .span10 {
    width: 100%;
  }
}
@media (min-width: 40.625em) {
  #contact-form .span5, #contact-form .span6 {
    width: 100%;
  }
}

#contact-form label span {
  cursor: pointer;
  display: block;
  margin: 5px 0;
  text-align: left;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width: 100%;
  box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -webkit-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  -moz-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
  border: 1px solid #CCC;
  height: 45px;
  margin: 0 0 5px;
  padding: 10px;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #cc2500;
}

#contact-form textarea {
  height: 100px;
  max-width: 100%;
}

#contact-form button[type="submit"] {
  cursor: pointer;
  width: 30%;
  border: none;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #cc2500;
  width: 100%;
}

#contact-form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #cc2500;
}

:-moz-placeholder {
  color: #cc2500;
}

::-moz-placeholder {
  color: #cc2500;
}

:-ms-input-placeholder {
  color: #cc2500;
}
